
.App {
  border: 1px solid black;
  width: 20em;
  margin: auto;
  margin-top: 5em;
  height: 20em;
}
.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  color: #6a6d72;
  font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 108px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}
.dropdown-content a {
  color: black;
  padding: 6px 10px;
  font-size: 5.5px;
  text-decoration: none;
  display: block;
  justify-content: flex-end;
  line-height: 1pt;
}
.dropdown-content a:hover {
  background-color: #3B5998;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  cursor: pointer;
  color: black;
}
.dots-container {
  border: 1px solid blue;
  margin-right: 4px;
}

.under-horizontal-bar:after {
  content: "";
  display: block;
  width: 98%;
  margin-bottom: -2px;
  padding-top: 7.5px;
  border-bottom: .5px solid #d5d9e0;

}
.bookmark {
  padding-right: 4px;
}
.username {
  color: #3B5998;
  border: 1px solid red;
  margin-top: -.1px;
}
.username-container {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}
.avatar-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.username-time {
  margin-top: -23px;
  font-size: 6px;
  border: 1px solid blue;
}
.username-column {
  border: 1px solid orange;
  padding-left: 2px;
}
.avatar-container {
  border: 1px solid purple;
}
