
.App {
  border: 1px solid black;
  width: 20em;
  margin: auto;
  margin-top: 5em;
  height: auto;
}
.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  color: #6a6d72;
  font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 108px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}
.dropdown-content a {
  color: black;
  padding: 6px 10px;
  font-size: 5.5px;
  text-decoration: none;
  display: block;
  justify-content: flex-end;
  line-height: 1pt;
}
.dropdown-content a:hover {
  background-color: #3B5998;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  cursor: pointer;
  color: black;
}
.dots-container {
  /* border: 1px solid blue; */
  margin-right: 4px;
  height: 40px;
}

.under-horizontal-bar:after {
  content: "";
  display: block;
  width: 98%;
  margin-bottom: -2px;
  padding-top: 7.5px;
  border-bottom: .5px solid #d5d9e0;

}
.bookmark {
  padding-right: 4px;
}
.username {
  color: #3B5998;
  /* border: 1px solid red; */
  margin-top: -.1px;
}
.username:hover {
  text-decoration: underline;
  cursor: pointer;
}
.username-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  height: 40px;
}
.avatar-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}
.username-time {
  /* margin-top: -23px; */
  font-size: 6px;
  /* border: 1px solid blue; */
  display: inline;
}
.username-time:hover {
  text-decoration: underline;
  cursor: pointer;
}
.username-column {
  /* border: 1px solid orange; */
  padding-left: 2px;
}
.avatar-container {
  /* border: 1px solid purple; */
}
.users-icon {
  margin-left: 2px;
}
 .users-icon-dropdown {
  display: inline;
  margin-left: 4px;
  font-size: 8px;
  position: relative;
  display: inline;
}
.users-icon-dropdown:hover {
  background-color: #e5e0e0;
  cursor: pointer;
}
.time-row {
  margin-top: -2em;
  display: flex;
}
.tooltip,
.time-tooltip {
    position: relative;
    display: inline;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 50;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    margin-left: -25px;
}
.likes-icon-tooltip .likes-icon-tooltiptext {
  min-width: 70px;
  width: auto;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.likes-icon-tooltip .likes-icon-tooltiptext::after {
  margin-left: -20px;
}
.likes-hover {
  margin-left: -5px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.time-tooltip .time-tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #f2f4f7;;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    color: black;
    font-size: 6px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin: 3px 0 0 -15px;
}

.time-tooltip:hover .time-tooltiptext {
    visibility: visible;
}
.status-container {
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
  margin-top: -30px;
}
.status-text {
  font-size: 8px;
}
.status-photo {
  height: 200px;
  width: 320px;
  margin-top: .5em;

}
.likes-bar {
  font-size: 7px;
  color: gray;
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.likes-list:hover,
.status-comments:hover {
  text-decoration: underline;
  cursor: pointer;
}
.likes-list {
  margin-left: -80px;
}
 .likes-name-item {
  margin: auto;
  list-style-type: none;
}
.likes-name-container {
  text-align: left;
  padding: 3px 6px;
}
.likes-icons {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}
.likes-icon {
  /* border: 1px solid green; */
  cursor: pointer;
  color: #3B5998;
}
.likes-icon:hover {
  font-size: 24px;
}
.heart-icon {
  /* border: 1px solid orange; */
  cursor: pointer;
  margin-left: 1px;
  color: #ed3b68;
}
.heart-icon:hover {
  font-size: 24px;
}
.laugh-icon {
  color: #f4dc42;
  cursor: pointer;
}
.laugh-icon:hover {
  font-size: 24px;
}
.wow-icon {
  color: #f4dc42;
  cursor: pointer;
}
.wow-icon:hover {
  font-size: 24px;
}
.sad-icon {
  color: #f4dc42;
  cursor: pointer;
}
.sad-icon:hover {
  font-size: 24px;
}
.angry-icon {
  color: rgba(248,80,50,1);
  cursor: pointer;
}
.angry-icon:hover {
  font-size: 24px;
}
.likes-header {
  font-weight: bold;
}
.like-comment-share-bar {
  display: flex;
  flex-direction: row;
  border-top: .1px solid #e0e2e5;
  border-bottom: .1px solid #e0e2e5;
  margin-top: -3px;
  font-size: 8px;
  font-weight: bold;
  color: #9795a0;
  /* border: 1px solid blue; */
}
p.likes-icon-container,
p.comments-icon-container,
p.share-icon-container {
  cursor: pointer;
  width: 100%;
  text-align: center;
  /* border: 1px solid green; */
  padding: 4px 0;
}
.likes-icon-container:hover,
.comments-icon-container:hover,
.share-icon-container:hover {
  background-color: #f2f4f7;
  border-radius: 3px;
  /* border: 1px solid red; */
}
.comment-section {
  height: auto;
}
.comment-input {
  border-radius: 6px;
  width: 250px;
  height: 17px;
  border-style: solid;
  border-width: thin;
  border-color: #d5d4d8;
  font-size: 8px;
  background-color: #f2f4f7;
  text-indent: 5px;
  margin-left: 3px;
 /* border: 1px solid red; */

}
.comment-input:focus {
  outline: none;
}
.comment-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: -15px;
}
.comment-emojis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75px;
  z-index: 2;
  position: absolute;
  margin-left: 210px;
}
.comment-emojis {
  color: lightgray;
}
.smile-icon:hover {
  color: orange;
  cursor: pointer;
}
.camera-icon:hover {
  color: gray;
  cursor: pointer;
}
.globe-icon:hover {
  color: blue;
  cursor: pointer;
}
.sticker-icon:hover {
  color: #846b4b;
  cursor: pointer;
}
.ellipsis-icon {
  cursor: pointer;
  opacity: 0;
  margin-left: 4px;
}
.ellipsis-icon:hover {
  opacity: 1;
  color: lightgray;
}

.comment-list {
  list-style-type: none;
  margin-left: -35px;
  /* border: 1px solid red; */
}
.comment {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}
.commentor-name {
  color: #3B5998;
  font-size: 9px;
  font-weight: bold;
  margin-left: 4px;
}
.commentor-and-comment {
  /* border: 1px solid green; */
  padding: 2px 4px 6px 4px;
  background-color: #f2f4f7;
  border-radius: 8px;
  width: auto;
  line-height: .8;
}
.comment-text {
  font-size: 8px;
}
.like-reply-container {
  /* border: 1px solid orange; */
  width: 45px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: -5px;
  margin-bottom: 8px;

}
.like-reply {
  font-size: 7px;
  color: blue;
  cursor: pointer;
  color: #3B5998;
  font-weight: 500;
}
.like-reply:hover {
  text-decoration: underline;
}
.comment-submit {
  display: none;
}
.small-popup {
  font-size: 8px;
  width: auto;
  display: block;
}
.circle-icon {
  font-size: 3px;
  color: #dee1e5;
  margin-top: 10px;
}

.tooltip .emoji-hover {
    visibility: hidden;
    min-width: 90px;
    width: auto;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    margin: 0 0 -10px -25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    border: .9px solid silver;
    border-style: outset;
    align-items: center;

}
.tooltip .emoji-hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 5px;
    border-style: solid;
    border-color: silver transparent transparent transparent;
}
.tooltip:hover .emoji-hover {
    visibility: visible;
}
